<%- layout('layouts/boilerplate') %>

<div class="row" role="alert">
    <div class="alert alert-danger col-10 mx-auto">
        <h4 class="alert-heading"><%=err.message%></h4>
        <% if (process.env.NODE_ENV !== 'production') { %>
        <p><%=err.stack%></p>
        <% } %>
    </div>
</div>